/*
 * Global Search
 *
 * Search for resources with the global and shared resource properties repository that is integrated in the IBM Cloud platform. The search repository stores and searches cloud resources attributes, which categorize or classify resources. A resource is a physical or logical component that can be created or reserved for an application or service instance. They are owned by resource providers, such as IBM Kubernetes Service, or resource controller in IBM Cloud. Resources are uniquely identified by a Cloud Resource Name (CRN) or by an IMS ID. The properties of a resource include tags and system properties. Both properties are defined in an IBM Cloud billing account, and span across many regions.
 *
 * The version of the OpenAPI document: 2.0.1
 *
 * Generated by: https://openapi-generator.tech
 */

use super::{configuration, ContentType, Error};
use crate::{apis::ResponseContent, models};
use reqwest;
use serde::{de::Error as _, Deserialize, Serialize};

/// struct for typed errors of method [`aggregate`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum AggregateError {
    Status400(models::Errors),
    Status401(models::Errors),
    Status403(models::Errors),
    Status429(String),
    Status500(models::Errors),
    Status502(models::Errors),
    Status503(models::Errors),
    DefaultResponse(models::Errors),
    UnknownValue(serde_json::Value),
}

/// Group resources into buckets based on field values, ranges, or other criteria. You can apply query strings if necessary. The query string follows the Lucene syntax, like for the `/v3/resources/search`.
pub async fn aggregate(
    configuration: &configuration::Configuration,
    aggregate_body: models::AggregateBody,
    x_request_id: Option<&str>,
    x_correlation_id: Option<&str>,
    timeout: Option<i32>,
    is_deleted: Option<&str>,
    is_reclaimed: Option<&str>,
    is_project_resource: Option<&str>,
) -> Result<models::AggregateResult, Error<AggregateError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_aggregate_body = aggregate_body;
    let p_x_request_id = x_request_id;
    let p_x_correlation_id = x_correlation_id;
    let p_timeout = timeout;
    let p_is_deleted = is_deleted;
    let p_is_reclaimed = is_reclaimed;
    let p_is_project_resource = is_project_resource;

    let uri_str = format!("{}/v3/resources/aggregate", configuration.base_path);
    let mut req_builder = configuration
        .client
        .request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_timeout {
        req_builder = req_builder.query(&[("timeout", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_is_deleted {
        req_builder = req_builder.query(&[("is_deleted", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_is_reclaimed {
        req_builder = req_builder.query(&[("is_reclaimed", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_is_project_resource {
        req_builder = req_builder.query(&[("is_project_resource", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(param_value) = p_x_request_id {
        req_builder = req_builder.header("x-request-id", param_value.to_string());
    }
    if let Some(param_value) = p_x_correlation_id {
        req_builder = req_builder.header("x-correlation-id", param_value.to_string());
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder = req_builder.header("Authorization", value);
    };
    req_builder = req_builder.json(&p_aggregate_body);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::AggregateResult`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::AggregateResult`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<AggregateError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content,
            entity,
        }))
    }
}
